parameters:
    level: max
    phpVersion:
        min: 80500
        max: 80599
    paths:
        - CoreBundle.php
        - DependencyInjection
        - Doctrine
        - Entity
        - EntityListener
        - Event
        - EventListener
        - Factory
        - Manager
        - Repository
        - Security
        - Service
        - Tests
        - Util
        - rector.php
    treatPhpDocTypesAsCertain: false
